html,
body {
  margin: 0;
  padding: 0;
}

.calendar {
  margin: 0 auto;
  position: relative;
  width: 650px;
  color: #262626;
}

.calendar__date {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
  grid-gap: 20px;
}

.calendar__day,
.calendar__number,
.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.calendar__day {
  font-weight: 600;
}

.calendar__number {
  position: relative; /* позиционируем для дочерних блоков */
}

.calendar__number .front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.calendar__number .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00cc00;
  backface-visibility: hidden;
  transform: rotateY(180deg); /* поворот заднего блока */

  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);

  -moz-backface-visibility: hidden;
  -moz-transform: rotateY(180deg);
}

.calendar__number:hover {
  cursor: pointer;
  transform: rotateY(180deg);
  transition: 1s;
  transform-style: preserve-3d;

  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;

  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
