section#Destination.destination
    .info-container
        .block__title
            h2.title-text Des#[strong tination]
            .title-info
                svg.info-icon
                    use(xlink:href="#info")
                p.info-text see basic regulation
        p.block__text Being around by many mountain, Malang not only came with mountain vacation, but our beach, cultural spot, and Human Interest is worth to experienced.
        .search
            .input-search
                button(type="submit").searchButton
                    a(href="", aria-hidden="true")
                        svg.icon
                            use(xlink:href="#search")
                input(type="text", class="searchTerm" placeholder="search destination")

            .search__text
                a(href='#')
                    p #[strong All place]
                p #[strong /]
                a(href='#')
                    p Recomended place
    include ../components/slider.pug