section.subscribe
    .text-wrap
        h2.text-light Keep in touch
        p We Will Give you latest information about Malang
    .input__subscribe
        input.subscribeTerm(type="text" placeholder="Type Email Here for Subscribe" required)
        button(type="submit").subscribeButton
            a(href="#", aria-hidden="true")