.contact {
  position: relative;
  @include size($width: 100%, $height: 718px);

  iframe {
    @include size($width: 100%, $height: 100%);
  }

  .text-light {
    padding: 86px 0;
    text-align: center;
    margin: 0;
  }

  .contact-blocks {
    @include positionAbsolute($top: 0, $left: 0);
    @include size($width: 50%, $height: 100%);
    background-color: rgba($color: #2fafb0, $alpha: 0.9);
  }

  .map {
    position: relative;
    @include size($width: 100%, $height: 100%);
    z-index: 1;
  }
}
