.destination {
  background-color: #e8f1f4;
  padding-top: 68px;

  .info-container {
    padding: 0 240px 0 250px;
    margin-bottom: 12px;
  }

  .block__title {
    display: flex;
    flex: auto;
    justify-content: space-between;

    .title-text {
      display: inline;
      flex: 1;
    }

    .title-info {
      .info-icon {
        vertical-align: middle;
        margin: 8px;
        @include size($width: 18.97px, $height: 18.97px);
        fill: #c1c1c1;
      }

      .info-text {
        vertical-align: middle;
        display: inline;
        color: $lightgray;
      }
    }
  }
  .block__text {
    padding-right: 290px;
    margin-bottom: 50px;
  }
}
