/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  @include size($width: 100%, $height: 100%);
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

.body-hide {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $chunkFive;
  margin: 0;

  strong {
    color: $darkcyan;
  }
}

h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 28px;
}

h2 {
  color: $lightcyan;
  font-size: 60px;
  margin-bottom: 58px;
}

h3 {
  font-family: $lato;
  font-weight: 300;
  color: $lightcyan;
  font-size: 30px;
}

a {
  text-decoration: none;
}

p {
  line-height: 35px;
  font-family: $lato;
  font-weight: normal;
  font-size: 16px;
  color: $darkgrey;
  margin: 0;
}

.text-light {
  color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 14px;
  list-style: none;
}

input::placeholder {
  font-family: $lato;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  color: $lightgray;
}

.scrollup {
  position: fixed;
  @include size($width: 40px, $height: 40px);
  bottom: 50px;
  left: 100px;
  display: none;
  text-indent: 9999px;
  background: url('../images/icon-top.png') no-repeat;

  .icon {
    @include size($width: 30px, $height: 30px);
    fill: rgb(61, 55, 65);
  }
}
