.main-block {
  @include bgImage('../images/Main.jpg');
  min-height: 100%;
  width: 100%;

  .subtitle {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
  }

  .block-opacity {
    width: 80%;
    background-color: #ffffff;
    opacity: 0.7;
    @include positionAbsolute($top: 95%, $bottom: -10vh, $left: 0, $right: 0);
    margin: 0 auto;
  }
}
