doctype html
html
    head
        include includes/head
    body
        include includes/header
        
        main
            include includes/team
            include includes/about
            include includes/buy
            include includes/goals
            include includes/feedback

        include includes/footer
        


