table {
  width: 50%;
  border-collapse: collapse;
  color: white;
  background: linear-gradient(45deg, rgb(105, 181, 187), darkslateblue);
}

th {
  text-align: left;
  z-index: 2;
  background-color: rgb(61, 70, 119);
}

td,
th {
  position: relative;
  padding: 15px;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.322);
}

td:hover::after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.322);
  content: "";
  height: 10000px;
  left: 0;
  top: -5000px;
  width: 100%;
  z-index: 1;
}
