html {
    margin: 0;
    padding: 0;
    background-color: #04101B;
}

fieldset {
    width: 25vw;
    margin: 0 auto;
    border: 2px solid #b8ffff;
    border-radius: 15px;
    box-shadow: 0 0 1px #108ab5, 0 0 2px #108ab5, 0 0 6px #108ab5,
        0 0 12px #108ab5, inset 0 0 1px #108ab5, inset 0 0 2px #108ab5,
        inset 0 0 6px #108ab5, inset 0 0 12px #108ab5;
}

input[type="text"],
input[type="password"],
.button {
    width: 70%;
    outline: none;
    padding: 15px 25px;
    margin: 15px auto;
    font-size: 10pt;
    border-radius: 10px;
    background-color: transparent;
}

input[type="text"],
input[type="password"] {
    color: #ad79c1;
    border: 2px solid #ffc9ff;

    box-shadow: 0 0 1px #914898, 0 0 2px #914898, 0 0 6px #914898,
        0 0 12px #914898, inset 0 0 1px #914898, inset 0 0 2px #914898,
        inset 0 0 6px #914898, inset 0 0 12px #914898;
}

div {
    display: flex;
    position: relative;
}

.floating-label {
    color: #ad79c1;
    position: absolute;
    top: 30px;
    left: 53px;
    transition: 0.3s ease all;
}

.button {
    width: 85%;
    margin: 30px auto;
    border: 2px solid #ffb0db;
    color: #dc498d;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 1px #b2285f, 0 0 2px #b2285f, 0 0 6px #b2285f,
        0 0 12px #b2285f, inset 0 0 1px #b2285f, inset 0 0 2px #b2285f,
        inset 0 0 6px #b2285f, inset 0 0 12px #b2285f;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: 20px;
    font-size: 8pt;
}
