body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.box-gradient {
    background: linear-gradient(to right, rgb(220, 96, 168), rgb(232, 184, 94));
}

a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.box-palms {
    margin-top: 145px;
    position: relative;
    z-index: 1;

    &:before {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 19%;
        content: url('../../img/Palms.png');
        opacity: 0.4;
    }
}

.btn-pink {
    display: flex;
    justify-content: center;
    margin-top: 31px;
    width: 100%;
    color: #dc63a5;
    background-color: transparent;
    padding: 27px 86px;
    border: 0.188em solid #dc63a5;
    border-radius: 2em;
    text-transform: uppercase;
    transition: all 0.2s;
    font-size: 20px;

    &:hover {
        color: #ffffff;
        background-color: #dc63a5;
    }
}

.block__btn,
.menu-list,
.about__title,
.goals__subtitle {
    font-family: $ff-raleway_m, Arial, Helvetica;
}

.goals__dates {
    .goals__text {
        font-family: $ff-raleway_m, Arial, Helvetica;
    }
}

.feedback-2 {
    p {
        font-family: $ff-raleway_r, Arial, Helvetica;
    }

    h4 {
        font-family: $ff-raleway_m, Arial, Helvetica;
    }
}

p {
    font-family: $ff-raleway_r, Arial, Helvetica;
}

h4 {
    font-family: $ff-raleway_sb, Arial, Helvetica;
}

.header__title-box {
    .header__title,
    button {
        font-family: $ff-raleway_b, Arial, Helvetica;
    }
}

.team {
    .team__title {
        font-family: $ff-raleway_eb, Arial, Helvetica;
    }
}

.buy__title,
.footer__title {
    font-family: $ff-roboto_b, Arial, Helvetica;
}

.buy__text,
.buy__btn,
.footer__text {
    font-family: $ff-roboto_r, Arial, Helvetica;
}
