@font-face {
  font-family: 'IndieFlower';
  src: url('../fonts/IndieFlower-Regular.eot');
  src: local('☺'), url('../fonts/IndieFlower-Regular.woff') format('woff'),
  url('../fonts/IndieFlower-Regular.ttf') format('truetype'),
  url('../fonts/IndieFlower-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/Roboto-Regular.eot');
  src: local('☺'), url('../fonts/RobotoRegular/Roboto-Regular.woff') format('woff'),
  url('../fonts/RobotoRegular/Roboto-Regular.ttf') format('truetype'),
  url('../fonts/RobotoRegular/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/Roboto-Bold.eot');
  src: local('☺'), url('../fonts/RobotoBold/Roboto-Bold.woff') format('woff'),
  url('../fonts/RobotoBold/Roboto-Bold.ttf') format('truetype'),
  url('../fonts/RobotoBold/Roboto-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/RalewayMedium/Raleway-Medium.eot');
  src: local('☺'), url('../fonts/RalewayMedium/Raleway-Medium.woff') format('woff'),
  url('../fonts/RalewayMedium/Raleway-Medium.ttf') format('truetype'),
  url('../fonts/RalewayMedium/Raleway-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/RalewayRegular/Raleway-Regular.eot');
  src: local('☺'), url('../fonts/RalewayRegular/Raleway-Regular.woff') format('woff'),
  url('../fonts/RalewayRegular/Raleway-Regular.ttf') format('truetype'),
  url('../fonts/RalewayRegular/Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('../fonts/RalewaySemiBold/Raleway-SemiBold.eot');
  src: local('☺'), url('../fonts/RalewaySemiBold/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/RalewaySemiBold/Raleway-SemiBold.ttf') format('truetype'),
  url('../fonts/RalewaySemiBold/Raleway-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayExtraBold';
  src: url('../fonts/RalewayExtraBold/Raleway-ExtraBold.eot');
  src: local('☺'), url('../fonts/RalewayExtraBold/Raleway-ExtraBold.woff') format('woff'),
  url('../fonts/RalewayExtraBold/Raleway-ExtraBold.ttf') format('truetype'),
  url('../fonts/RalewayExtraBold/Raleway-ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/RalewayBold/Raleway-Bold.eot');
  src: local('☺'), url('../fonts/RalewayBold/Raleway-Bold.woff') format('woff'),
  url('../fonts/RalewayBold/Raleway-Bold.ttf') format('truetype'),
  url('../fonts/RalewayBold/Raleway-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora/Lora-Regular.eot');
  src: local('☺'), url('../fonts/Lora/Lora-Regular.woff') format('woff'),
  url('../fonts/Lora/Lora-Regular.ttf') format('truetype'),
  url('../fonts/Lora/Lora-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
