/* src/assets/styles/_responsive.scss  */

@media screen and(max-width:  $grid-width) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  p {
    padding: 0 30px;
    font-size: 1.25em;
  }

  .main-block {
    padding-bottom: 30vh;

    .block-opacity {
      display: none;
    }
  }

  .about {
    padding: 0;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 108px;

    img {
      display: flex;
      float: none;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }

  .destination {
    .info-container {
      float: none;
      padding: 0;

      .block__title {
        flex-direction: column;
        margin-bottom: 30px;

        .title-info {
          margin: 0 auto;
        }
      }
    }
    .block__text {
      padding: 0 30px;
    }

    .search {
      flex-direction: column;

      .input-search {
        padding: 0 30px;
        margin-bottom: 20px;
        width: 100%;

        .searchTerm {
          width: 100%;
        }
      }

      .search__text {
        margin: 0 auto;

        p:last-child {
          padding: 0;
        }
      }
    }
  }

  .contact {
    height: auto;

    iframe {
      height: 718px;
    }

    .contact-blocks {
      position: relative;
      width: 100%;
      z-index: 0;

      form input[type='submit'] {
        margin-bottom: 50px;
      }
    }
  }

  .subscribe {
    flex-direction: column;

    .input__subscribe {
      margin: 0 auto;
      margin-top: 30px;
      width: 70%;
    }
  }

  .scrollup {
    background-size: 50px;
    @include size($width: 70px, $height: 70px);
    left: 10px;
    bottom: 20px;
  }
}
