.about__container {
    margin: 275px 373px 247px;
    display: flex;
    flex-direction: column;

    .about__text,
    .about__title {
        text-align: center;
    }

    .about__text {
        font-size: 25px;
    }

    .about__block {
        margin: 0 auto;
        width: 50%;

        .about__title {
            text-transform: uppercase;
        }
    }
}

.about__images {
    display: flex;
}

.about__quote {
    margin: 275px 0;
    color: #ffffff;
    text-align: center;
    padding: 129px 323px 63px;

    p {
        font-size: 20px;
        margin: 0 0 50px;
    }

    .feedback__author {
        font-size: 18px;
        margin: 0;
    }
}

.feedback {
    text-align: center;
    padding: 110px 363px 0;
    color: #000000;

    p {
        font-size: 18px;
        margin: 0 0 30px;
    }
}

