.buy__container {
    background-image: url(../../img/buy_tickets_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    color: #ffffff;
    padding-top: 212px;
    padding-bottom: 207px;
    padding-right: 100px;
    padding-left: 1050px;

    .buy__title,
    .buy__text {
        text-align: right;
    }

    .buy__text {
        margin: 26px 0 43px;
    }

    .buy__title {
        margin: 0;
        text-transform: uppercase;
        font-size: 58px;
    }

    .buy__btn {
        font-size: 20.83px;
        float: right;
        text-transform: uppercase;
        color: #e489e3;
        background-color: #e8f1f4;
        border-radius: 2em;
        padding: 14px 56px;
        transition: background-color 0.2s;

        &:hover {
            background-color: #ffffff;

        }
    }
}
