section.about
    .about__container
        p.about__text “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.“
        .about__block
            h3.about__title What exactly do we do
            button.btn-pink Your text here

    .about__images
        -var n = 1;
        while n <= 3
            img(src="../img/about-" + n + ".jpg", alt="")
            -n++;

    .about__quote.box-gradient
        p “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam”
        h4.feedback__author David Johnson
