section.buy
    .buy__container
        h1.buy__title Buy your tickets
        p.buy__text Lorem ipsum dolor sit amet, consec-tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        button.buy__btn Here