section.team
    .team__title-box
        .team__title
            h2 Who are we
        .team__text
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
    .team__images-box
        -var n = 1;
        while n <= 3
            .block__img
                img(src="../img/team-" + n + ".jpg", alt="")
                button.btn-pink Your text here
            -n++;

    .box-palms.box-gradient
        .team__advantages
            -var list = ["We use less water", "We respect nature", "We believe in recycling"]
                each item in list
                    .advantage__card
                        h4.adtantage-title=item
                        p.adtantage-text Lorem ipsum dolor sit amet, consecte sectetur adipisicing elit, tation omne ullamco laboris nisi ut aliqolore.
