/* src/assets/styles/utils/_colors.scss  */

$lightyellow: #ffffa6;
$lightgreen: #bdf271;
$darkgreen: #b1e568;
$lightcyan: #29d9c2;
$darkcyan: #01a2a6;
$darkpurple: #2f2933;
$lightgray: #aeaeae;
$darkgrey: #777777;
