/* src/assets/styles/base/_fonts.scss  */

/*
  Lato
*/

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('@~fonts/Lato-Black.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  src: url('@~fonts/Lato-Bold.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  src: url('@~fonts/Lato-Heavy.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  src: url('@~fonts/Lato-Light.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  src: url('@~fonts/Lato-Medium.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: italic;
  src: url('@~fonts/Lato-MediumItalic.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  src: url('@~fonts/Lato-Regular.woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  src: url('@~fonts/Lato-Semibold.woff');
}

$lato: 'Lato', sans-serif;

/*
  ChunkFive
*/

@font-face {
  font-family: 'ChunkFive';
  src: url('@~fonts/ChunkFive.woff');
}

$chunkFive: 'ChunkFive', sans-serif;


/*
  Monrserrat
*/

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('@~fonts/Montserrat-Regular.woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('@~fonts/Montserrat-Bold.woff');
}

$montserrat: 'Montserrat', sans-serif;
