.form
    form(action='#')
        input.form-control(type='email', placeholder='Your Email' name='form__input' required)
        .flex-row
            input.form-control(type='text', placeholder='Company' name='form__input' required)
            input.form-control(type='text', placeholder='Subject' name='form__input' required)
        textarea(rows=4).form-control(placeholder='Your Messages' name='form__input')
        input(type="submit" value="Send message").button