//- src/views/components/header.pug

include ../mixins/mixins.pug

header.header
    .navbar-responsive
        <i class="fa fa-bars"></i>
    a(href="#").logo-text Yok#[strong Ngalam]
    nav.menu-navbar
        +list("header__menu", ['Home', 'Destination', 'Ittinaty', 'Review', 'Contact'])

        .profile-box
            img(src="../../assets/images/profile-img.png", alt="").dropbtn
            <i class="fa fa-sort-desc"></i>
            .dropdown-content
                a(href="#") Link 1
                a(href="#") Link 2
                a(href="#") Link 3