svg(style="display:none")

    symbol(id="facebook" viewBox="0 0 29.5 29.5")
        path(d="M1208.41,4817.14a14.75,14.75,0,1,0,14.75,14.75A14.745,14.745,0,0,0,1208.41,4817.14Zm3.81,14.74-2.41.01-0.01,8.85h-3.31v-8.85h-2.22v-3.05h2.22l-0.01-1.8c0-2.49.68-4,3.61-4h2.44v3.05H1211c-1.14,0-1.19.42-1.19,1.22l-0.01,1.53h2.75Z" transform="translate(-1193.66 -4817.12)")

    symbol(id="twitter" viewBox="0 0 29.5 29.5")
        path(d="M14.722,0.003 C7.123,0.003 0.941,6.185 0.941,13.783 C0.941,21.382 7.123,27.564 14.722,27.564 C22.320,27.564 28.502,21.382 28.502,13.783 C28.502,6.185 22.320,0.003 14.722,0.003 ZM20.869,10.630 C20.876,10.766 20.879,10.903 20.879,11.041 C20.879,15.233 17.689,20.065 11.854,20.065 C10.063,20.065 8.395,19.541 6.992,18.640 C7.240,18.670 7.493,18.685 7.748,18.685 C9.235,18.685 10.602,18.177 11.688,17.327 C10.300,17.301 9.128,16.385 8.725,15.124 C8.918,15.161 9.117,15.181 9.321,15.181 C9.610,15.181 9.891,15.142 10.157,15.070 C8.706,14.779 7.613,13.497 7.613,11.961 C7.613,11.947 7.613,11.933 7.614,11.921 C8.041,12.157 8.530,12.301 9.050,12.317 C8.199,11.749 7.639,10.778 7.639,9.677 C7.639,9.096 7.795,8.551 8.068,8.082 C9.632,10.001 11.970,11.264 14.605,11.397 C14.551,11.164 14.524,10.923 14.524,10.674 C14.524,8.923 15.944,7.502 17.695,7.502 C18.608,7.502 19.432,7.887 20.010,8.504 C20.733,8.361 21.412,8.098 22.025,7.734 C21.788,8.474 21.285,9.096 20.630,9.489 C21.272,9.412 21.884,9.242 22.451,8.990 C22.027,9.625 21.489,10.184 20.869,10.630 Z")

    symbol(id="instagram" viewBox="0 0 31 31")
        path(d="M15.367,0.184 C7.197,0.184 0.572,6.808 0.572,14.979 C0.572,23.149 7.197,29.773 15.367,29.773 C23.537,29.773 30.162,23.149 30.162,14.979 C30.162,6.806 23.537,0.184 15.367,0.184 ZM23.120,22.171 C23.120,22.480 22.869,22.731 22.560,22.731 L8.173,22.731 C7.865,22.731 7.614,22.480 7.614,22.171 L7.614,7.785 C7.614,7.477 7.865,7.226 8.173,7.226 L22.560,7.226 C22.869,7.226 23.120,7.477 23.120,7.785 L23.120,22.171 ZM12.266,14.979 C12.266,16.691 13.654,18.080 15.367,18.080 C17.080,18.080 18.468,16.691 18.468,14.979 C18.468,13.266 17.080,11.877 15.367,11.877 C13.654,11.877 12.266,13.266 12.266,14.979 ZM18.468,8.776 L21.569,8.776 L21.569,11.877 L18.468,11.877 L18.468,8.776 ZM19.979,14.979 C19.979,17.522 17.911,19.591 15.367,19.591 C12.824,19.591 10.754,17.522 10.754,14.979 C10.754,14.648 10.792,14.515 10.858,14.203 L9.165,14.203 L9.165,21.181 L21.569,21.181 L21.569,14.203 L19.876,14.203 C19.943,14.515 19.979,14.648 19.979,14.979 Z")

    symbol(id="info" viewBox="0 0 20 20")
        path(d="M9.994,0.509 C4.757,0.509 0.509,4.756 0.509,9.994 C0.509,15.232 4.757,19.479 9.994,19.479 C15.233,19.479 19.480,15.232 19.480,9.994 C19.480,4.756 15.233,0.509 9.994,0.509 ZM11.969,15.210 C11.481,15.402 11.092,15.548 10.801,15.650 C10.510,15.751 10.172,15.802 9.787,15.802 C9.196,15.802 8.736,15.656 8.408,15.369 C8.081,15.080 7.918,14.715 7.918,14.271 C7.918,14.098 7.930,13.921 7.954,13.742 C7.979,13.562 8.018,13.360 8.072,13.132 L8.683,10.974 C8.737,10.766 8.784,10.569 8.821,10.386 C8.857,10.201 8.875,10.032 8.875,9.878 C8.875,9.603 8.818,9.410 8.705,9.302 C8.590,9.194 8.374,9.140 8.052,9.140 C7.894,9.140 7.732,9.164 7.566,9.213 C7.402,9.263 7.259,9.309 7.141,9.354 L7.303,8.689 C7.703,8.526 8.086,8.387 8.451,8.271 C8.817,8.153 9.162,8.096 9.487,8.096 C10.074,8.096 10.527,8.239 10.846,8.521 C11.163,8.805 11.323,9.174 11.323,9.626 C11.323,9.720 11.312,9.886 11.290,10.122 C11.268,10.359 11.227,10.574 11.167,10.774 L10.560,12.925 C10.510,13.099 10.466,13.295 10.426,13.516 C10.386,13.737 10.367,13.905 10.367,14.020 C10.367,14.305 10.430,14.500 10.559,14.604 C10.686,14.708 10.909,14.760 11.222,14.760 C11.371,14.760 11.538,14.734 11.726,14.681 C11.913,14.630 12.047,14.584 12.132,14.545 L11.969,15.210 ZM11.862,6.475 C11.579,6.738 11.237,6.870 10.837,6.870 C10.440,6.870 10.096,6.738 9.810,6.475 C9.525,6.211 9.382,5.891 9.382,5.516 C9.382,5.143 9.526,4.822 9.810,4.556 C10.096,4.290 10.440,4.157 10.837,4.157 C11.237,4.157 11.579,4.290 11.862,4.556 C12.145,4.822 12.287,5.143 12.287,5.516 C12.287,5.892 12.145,6.211 11.862,6.475 Z")

    symbol(id="search" viewBox="0 0 17.219 17.32")
        path(d="M6.738,2.514 C9.109,2.514 11.037,4.453 11.037,6.838 C11.037,7.735 10.761,8.600 10.240,9.337 L9.817,9.935 L9.223,10.360 C8.490,10.884 7.631,11.162 6.738,11.162 C4.367,11.162 2.439,9.222 2.439,6.838 C2.439,4.453 4.367,2.514 6.738,2.514 M6.738,0.351 C3.176,0.351 0.289,3.256 0.289,6.838 C0.289,10.420 3.176,13.324 6.738,13.324 C8.130,13.324 9.415,12.876 10.469,12.122 L15.648,17.330 C15.858,17.542 16.134,17.648 16.409,17.648 C16.685,17.648 16.960,17.542 17.171,17.330 C17.591,16.908 17.591,16.222 17.171,15.799 L11.992,10.590 C12.741,9.530 13.187,8.237 13.187,6.838 C13.187,3.256 10.300,0.351 6.738,0.351 L6.738,0.351 Z")

    symbol(id="arrow-right" viewBox="0 0 12.562 10.97")
        path(d="M12.329,6.058 L7.622,10.762 C7.315,11.069 6.817,11.069 6.510,10.762 C6.203,10.456 6.203,9.958 6.510,9.651 L9.877,6.286 L0.785,6.286 C0.351,6.286 -0.000,5.934 -0.000,5.501 C-0.000,5.068 0.351,4.717 0.785,4.717 L9.877,4.717 L6.510,1.351 C6.203,1.044 6.203,0.547 6.510,0.240 C6.817,-0.067 7.315,-0.067 7.622,0.240 L12.329,4.944 C12.483,5.098 12.559,5.300 12.559,5.501 C12.559,5.703 12.483,5.905 12.329,6.058 Z")

    symbol(id="scroll" viewBox="0 0 1792 1792")
        path(d="M1293 1139l102-102q19-19 19-45t-19-45l-454-454q-19-19-45-19t-45 19l-454 454q-19 19-19 45t19 45l102 102q19 19 45 19t45-19l307-307 307 307q19 19 45 19t45-19zm371-243q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z")

