/* src/assets/styles/components/_button.scss  */

.clean-button {
  border: none;
  background: none;
}

.button {
  @extend .clean-button;
  font-family: $lato;
  font-weight: 700;
  font-size: 18px;
  border-radius: 2em;
  color: white;
  padding: 28px 25px;
}

.button-yellow {
  @extend .button;
  margin: 0 auto;
  margin-top: 47px;
  display: block;
  background-color: $lightyellow;
  color: #10273d;
  padding: 30px 36px;
  transition: 0.3s ease all;

  &:hover {
    background-color: $darkcyan;
    color: #ffffff;
  }
}
