.dropdown {
  overflow: hidden;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $darkcyan;
  min-width: 160px;
  z-index: 1;

  a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: $lightcyan;
    }
  }
}
