/* src/assets/styles/components/_header.scss  */
.header {
  @include isFlex($justify: space-around, $wrap: nowrap);
  padding: 38px 0 10px;
  background-color: transparent;
  margin-bottom: 150px;
  transition: 0.5s ease all;

  a {
    font-family: $lato;
    font-weight: 800;
  }

  .logo-text {
    color: #ffffff;
    font-size: 25.18px;
    font-family: $montserrat;
    font-weight: normal;

    strong {
      font-family: $montserrat;
      font-weight: bold;
    }
  }

  .menu-navbar {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;

    .header__menu {
      margin-right: 55px;

      ul {
        text-align: end;
      }

      li {
        margin: 15px 10px;
        display: inline-block;
      }

      .menu-item {
        color: #ffffff;
        border: 2px solid transparent;
        border-radius: 2em;
        padding: 15px 20px;
        transition: 0.3s ease all;

        &:hover {
          border: 2px solid #ffffff;
          border-radius: 2em;
          padding: 15px 20px;
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: $lightcyan;
  color: $darkpurple;
}

.navbar-responsive {
  font-size: 34px;
  cursor: pointer;
  display: none;
}

/*
  Responsive
*/

@media screen and(max-width: $grid-width) {
  .navbar-responsive {
    display: block;
  }

  .header .menu-navbar {
    @include positionAbsolute($top: 78px, $left: 0);
    @include size($width: 100%, $height: 100vh);
    clear: both;
    display: none;
    background-color: $darkcyan;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    .menu-item:hover {
      border: none;
    }

    .profile-box {
      display: inline-flex;
      justify-content: center;
      vertical-align: top;
      margin: 0 auto;
      margin-top: 100px;
      height: auto;

      .dropdown-content {
        margin: 0;
        margin-top: 100px;
        @include isFlex($direction: column, $wrap: nowrap);
      }

      .dropbtn {
        @include size($width: 80px, $height: 80px);
      }
    }

    li {
      border: transparent;
      padding: 1rem 0;
    }

    .header__menu {
      display: inline-block;
      flex-direction: column;
      margin: 0;

      li {
        display: block;
      }
    }

    .header__menu,
    .dropdown-content {
      @extend .profile-box;
      padding: 10px;

      a {
        color: #ffffff;
        font-size: 1.4rem;
        padding: 1rem 0;
        margin: 0;
      }
    }
  }
}
