.input__subscribe {
  @include size($width: 30%, $height: 100%);
  display: flex;

  input[type='text'] {
    @include size($width: 100%, $height: 20px);
    border: 1px solid #7ca83f;
    border-right: none;
    padding: 27px 28px;
    border-radius: 5px 0 0 5px;
    outline: none;

    &:focus {
      color: $darkcyan;
    }

    &::placeholder {
      color: #c7c7c7;
      font-size: 16px;
    }
  }

  .subscribeButton {
    border: 1px solid $darkcyan;
    background: $darkcyan;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
    margin: 0;

    a::before {
      content: url('../images/forward.svg');
      padding: 26px 32px;
      cursor: pointer;
    }
  }
}
