@media (max-width: 900px) {
    .flex-wrapper {
        justify-content: space-around;
    }
}

/* FLEX */

.flex-container-1,
.flex-container-2,
.flex-container-3 {
    font-size: 3vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    background-color: rgba(255, 0, 0, 0.562);
    margin: 20px 0;
    flex-wrap: wrap;
    align-items: stretch;
}

.flex-container-3 {
    width: 90%;
}

.flex-container-3 .flex-item,
.flex-container-1 > .flex-item:first-child,
.flex-container-2 > .flex-item {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    border: 2px solid green;
    color: green;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.item-height {
    padding-bottom: 40px;
}

/* GRID */

.grid-wrapper {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 1.25em;
    height: 100vh;
    margin: 30px auto;
}

.grid-column {
    display: grid;
    grid-gap: 1.25em;
}

.grid-row {
    display: grid;
    grid-gap: 1.25em;
    grid-template-columns: 1fr 1fr;
}

.grid-wrapper .box {
    font-size: 3vw;
    padding: 0.5em;
    background: gold;
    text-align: center;
}

/* No Flex/Grid */

.wrapper {
    margin: 0;
    padding: 0;
}

.wrapper .item {
    margin: 10px 0;
    text-align: center;
    border: 2px solid green;

    background: cadetblue;
}

.container-1 .item {
    display: inline-block;
    width: 20%;
}

.container-1 .item:first-child {
    display: inline-block;
    width: 70%;
}

.container-1 .item:last-child {
    margin-right: 0;
    float: right;
}

.container-2 {
    width: 100%;
}

.wrap-column {
    float: right;
    width: 20%;
}

.container-2 > .item {
    display: inline-block;
    width: 70%;
}

.wrap-column .item {
    padding: 10px 20px;
    display: block;
}

.container-3 {
    width: 70%;
}

.container-3 .item {
    display: inline-block;
    width: 45%;
}

.container-3 .item:last-child {
    float: right;
}
