//- src/views/mixins/list.pug

mixin list(className, items)
  ul(class=className)
    each item in items
      li
        a(class="menu-item" href="#"+ item)= item

mixin sliderItems(sliderLength)
  - var n = 0;
    while n < sliderLength
      .slide
          .slide__container
              img(src="../../assets/images/batu.jpg", alt="")
              +seeMore()
              .slide__content
                img(src="../../assets/images/ferris_wheel.png", alt="").slide__icon
                h3 Batu
                p  <b> is a city located in East Java Province of Indonesia. It is situated about 20 km to the northwest of Malang. Formerly, it was a part of Malang Regency; but in 2001, Batu became an independent city. A population of 190,000 people, it lies on the southern slopes of Gunung Welirang. Its population largely consists of Javanese. </b>
          .slide-column
            .slide__container
              img(src="../../assets/images/bromo.jpg", alt="")
              +seeMore()
              .slide__content-2
                img(src="../../assets/images/mountains-icon.png", alt="").slide__icon
                h3 Bromo
                p <b>Mount Bromo</b> is an active volcano and part of the Tengger massif, in East Java, Indonesia. At 2,329 metres (7,641 ft) it is not the highest peak of the massif, but is the most well known
            .slide__container
              img(src="../../assets/images/bromo-boat.jpg", alt="")
              +seeMore()
              .slide__content-3
                img(src="../../assets/images/palms-icon.png", alt="").slide__icon

      -n++;

mixin seeMore()
  a(href="#") see more
    svg.icon
        use(xlink:href="#arrow-right")
